.animation {
	animation-name: alerts;
	animation-duration: 5s;
}

@keyframes alerts {
	0% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}

.hidden {
	opacity: 0;
}

.inline {
	display: inline;
}

body {
	background-image: url("https://images.nationalgeographic.org/image/upload/v1638892272/EducationHub/photos/hoh-river-valley.jpg");
	background-attachment: fixed;
}

tr.odd:hover, tr.even:hover {
	background-color: rgb(77, 77, 77) !important;
}

.spin {
	max-width:100px;
	height: auto;
	
	/* The animation part: */
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.spinImage {
	max-width:100px;
	height: auto;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(10000deg);}
}